/* Reset de Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do Corpo da Página */
body {
    font-family: Arial, sans-serif;
    background-color: #003f7b;
    margin: 0;
    padding: 0;
}

/* Estilos para Listas Não Ordenadas */
.nrs-list ul,
.nhos-list ul {
    list-style-type: none;
    padding-left: 0;
}

/* Estilos para Links */
a {
    text-decoration: none;
    color: #ffffff;
}

/* Estilos para Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}