/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #003f7b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container principal */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

/* Cabeçalho */
.header {
    background: linear-gradient(180deg, #f7941d 0%, #f47100 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 40px;
}

.header .logo {
    width: 65px;
    max-width: 150px;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para a lista de NHOs */
.nhos-list ul,
.nrs-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nhos-list li,
.nrs-list li {
    margin-bottom: 10px;
}

.nhos-list a,
.nrs-list a {
    display: block;
    padding: 7px;
    text-decoration: none;
    background-color: #fff;
    color: #ff6600;
    font-size: 1.1em;
}

.nhos-list a:hover,
.nrs-list a:hover {
    background: linear-gradient(180deg, #f7941d 0%, #f47100 100%);
    color: #fff;
}

/* Rodapé */
footer {
    background: linear-gradient(180deg, #f7941d 0%, #f47100 100%);
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 40px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
    .logo {
        width: 55px;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    footer {
        padding: 12px;
        font-size: 0.9rem;
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .logo {
        width: 60px;
    }

    .header h1 {
        font-size: 1.6rem;
    }

    .nhos-list a,
    .nrs-list a {
        font-size: 16px;
    }

    footer {
        padding: 10px;
        font-size: 0.8rem;
    }

    footer a {
        font-size: 14px;
    }
    
}

/* Estilos para dispositivos muito pequenos */
@media (max-width: 480px) {
    .logo {
        width: 50px;
    }

    .header h1 {
        font-size: 1.4rem;
    }

    footer {
        padding: 8px;
        font-size: 0.75rem;
    }
}

/* Estilos para dispositivos com telas extremamente pequenas (ex: celulares antigos) */
@media (max-width: 320px) {
    .header h1 {
        font-size: 1.2rem;
    }

    footer {
        padding: 6px;
        font-size: 0.7rem;
    }
}